<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
	   	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	   	http://www.springframework.org/schema/context   
	   	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	   	http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd
		">

	<import resource="SupportedCmds.xml" />
	<import resource="SupportedDataTypes.xml" />
	<import resource="SupportedConstraints.xml"/>

	<context:property-placeholder location="classpath:SystemProperties.properties" />
	<context:component-scan base-package="org.mo39.fmbh.databasedesign.framework" />

	<util:map id="systemProperties">
		<entry key="prompt" value="${info.prompt}" />
		<entry key="welcome" value="${info.welcome}" />
		<entry key="usageInstruction" value="${info.usageInstruction}" />
		
		<entry key="tab" value="${sys.table}"/>
		<entry key="delimiter" value="${sys.delimiter}" />
		<entry key="lineBreak" value="${sys.lineBreak}" />
	</util:map>
	
	<bean id="infoSchema" class="org.mo39.fmbh.databasedesign.framework.InfoSchema">
		<property name="archiveRoot" value="${archive.root}"/>
		<property name="infoSchema" value="${archive.infoSchema}"/>
		<property name="schemata" value="${archive.schemata}"/>
		<property name="tables" value="${archive.tables}"/>
		<property name="columns" value="${archive.columns}"/>		
		<property name="createSchemata" value="${create.schemata}"/>
		<property name="createTables" value="${create.tables}"/>
		<property name="createColumns" value="${create.columns}"/>		
		<property name="schemataValues">
			<list>
				<value>${schemata.value.1}</value>
			</list>
		</property>		
		<property name="tablesValues">
			<list>
				<value>${tables.value.1}</value>
				<value>${tables.value.2}</value>
				<value>${tables.value.3}</value>
			</list>
		</property>
		<property name="columnsValues">
			<list>
				<value>${columns.value.1}</value>
				<value>${columns.value.2}</value>
				<value>${columns.value.3}</value>
				<value>${columns.value.4}</value>
				<value>${columns.value.5}</value>
				<value>${columns.value.6}</value>
				<value>${columns.value.7}</value>
				<value>${columns.value.8}</value>
				<value>${columns.value.9}</value>
				<value>${columns.value.10}</value>
			</list>
		</property>
		
	</bean>

</beans>






